.search__button {
	margin: 0;
	padding: 8px 12px 10px 29px;
	outline: none;
  box-sizing: content-box;
	border: none;
	border-left: 1px solid #242424;
	background-color: #e5e5e5;
  cursor: pointer;
}
